:root{
    --scrollbg:hsl(0, 94%, 47%);
    --scrollth: hsl(0, 60%, 33%);
    --scrollhov: hsl(0, 60%, 23%);
}
*{
    margin: 0%;
    padding: 0%;
    color: goldenrod !important;
}
body{
    background: hsl(41, 48%, 83%);
}
.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
header.header{
    background: hsl(0, 65%, 43%);
    height: 10vh;
    border-bottom: 4px black inset;
    text-align: center;
}
h1.header{
    padding-top: 1%;
    text-shadow: 2px 3px hsl(0, 43%, 35%) !important;
}
img.header{
    float: left;
    width: 7vh !important;
    border: 0px !important;
}
img{
    margin: 4px;
    width:25vh;
    border: 4px black inset;
}
.card-mainVC{
    width:35vh;
    height:52vh;
    background: linear-gradient(to left, hsl(0, 64%, 40%), hsl(270, 90%, 31%));
    border:4px black inset;
    border-radius: 1%;
    float:left;
    text-align:center;
    margin:5%;
    margin-left:8.5%;

}
.card-body{
    overflow: auto;
}
.Collapsed{
    display: none;
}
.arrow{
    width: 15%;
    border: 5px black inset;
    border-radius: 100%;
}
.cards{
    height: 310vh;
}
.cardsTog{
    height: 450vh;
}
footer.footerMain{
    background: hsl(270, 65%, 43%);
    height: 10vh;
    border-top: 4px black inset;
    text-align: center;
    display: block;
    position: relative;
    bottom: 0%;
}
p.footer{
    margin-top: 2%;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbg);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollth);
}
 
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollhov);
    cursor:pointer;
}