*{
    margin: 0%;
    padding: 0%;
}
body{
    background: hsl(41, 48%, 83%);
}
header.header{
    background: hsl(0, 65%, 43%);
    height: 10vh;
    border-bottom: 4px black inset;
    text-align: center;
}
button.header{
    padding: 0.5%;
    background: hsl(42, 33%, 62%);
    border: 2px black inset;
}
h1.header{
    padding-top: 1%;
    text-shadow: 1px 2px hsl(0, 43%, 35%);
}
img{
    margin: 4px;
    width:25vh;
    border: 4px black inset;
}
.card-mainVNC{
    width:35vh;
    height:85vh;
    text-align:center;
    float:left;
    margin:5%;
    margin-left:8.5%;
    background: linear-gradient(to left, hsl(0, 64%, 40%), hsl(270, 90%, 31%));
    border:4px black inset;
}
.card-mainVC{
    width:35vh;
    height:50vh;
    background: linear-gradient(to left, hsl(0, 64%, 40%), hsl(270, 90%, 31%));
    border:4px black inset;
    border-radius: 1%;
    float:left;
    text-align:center;
    margin:5%;
    margin-left:8.5%;

}
.card-body{
    overflow: auto;
}
.Collapsed{
    display: none;
}
.arrow{
    width: 15%;
    border: 5px black inset;
    border-radius: 100%;
}
.cards{
    height: 300vh;
}
.cardsTog{
    height: 450vh;
}
footer.footer{
    background: hsl(270, 65%, 43%);
    height: 10vh;
    border-top: 4px black inset;
    text-align: center;
    display: block;
    position: relative;
    bottom: 0%;
}
a{
    color: black;
}
p.footer{
    margin-top: 2%;
}